.collapse:not(.show) {
    display: none;
}
.collapse.show {
    display: block;
}
.nav-link.disabled {
  display: none;
}
.nav-link.active {
  display: block;
}
.nav-link .user-img {
  width: 100px;
  height:100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}
.article-preview .preview-link span{
    max-width:inherit;
    font-size:inherit;
    font-weight:inherit;
    color:inherit;
    vertical-align:inherit
}
.article-preview .preview-link .preview-readmore{
    max-width:30%;
    font-size:.8rem;
    font-weight:300;
    color:#bbb;
    vertical-align:middle
}
